@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/loginPage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 90%;
    width: 95%;
    border-radius: 2.25rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content, .login {
    height: 98%;
    width: 49.5%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    color: white;
    background-image: url(../images/loginPage.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 5rem 2rem 5rem;
}

.login {
    padding: 2rem 5rem 2rem 5rem;
}

.content h1 {
    font-family: "Prata", serif;
    font-size: 3.35rem;
}

.content p {
    font-family: "Google Sans", sans-serif;
    position: bottom;
    font-size: 1rem;
}

.content p span {
    font-weight: 700;
}

.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;align-items: center;
    font-family: "Google Sans", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.logo img {
    height: 100%;
}

.logo h1 {
    font-family: "Prata", serif;
    color: #1C4D8D;
    font-size: 1.25rem;
    margin-left: 0.25rem;
}

.logo h1 span {
    color: #0F2854;
}

.loginForm h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
}

.loginForm p {
    margin-top: 0.5rem;
}

.loginForm h3 {
    margin-top: 0.5rem;
}



