@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/loginPage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 90%;
    width: 95%;
    border-radius: 2.25rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content, .login {
    height: 98%;
    width: 49.5%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    color: white;
    background-image: url(../images/loginPage.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 5rem 2rem 5rem;
}

.login {
    padding: 2rem 5rem;
    font-family: "Google Sans", sans-serif;
    align-items: center;
}

.content h1 {
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 3.35rem;
}

.content p {
    font-family: "Google Sans", sans-serif;
    position: bottom;
    font-size: 1rem;
}

.content p span {
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    height: 2rem;
}

.logo img {
    height: 100%;
}

.logo h1 {
    font-family: "Lora", serif;
    color: #1C4D8D;
    font-size: 1.25rem;
    margin-left: 0.25rem;
}

.logo span {
    color: #0F2854;
}

.loginForm {
    display: flex;
    flex-direction: column;align-items: center;
}

.loginForm h2 {
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 2.75rem;
}

.form {
    margin-top: 0.75rem;
}

.input {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 20rem;
    overflow: hidden;
    background-color: #D1F8EF;
    border-radius: 0.5rem;
}

.input img{
    height: 1.5rem;
    width: auto;
    object-fit: cover;
    margin-left: 0.75rem;
}

.input input {
    font-size: 1rem;
    border: none;
    overflow: hidden;
    background-color: #D1F8EF;
    margin: 0rem 0.75rem;
    width: 100%;
}

.input input:focus {
    outline: none;
}

.loginForm button {
    margin-top: 1.5rem;
    height: 3rem;
    width: 100%;
    border: none;
    background-color: #1C4D8D;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    transition: 0.1s;
}

.loginForm button:hover {
    background-color: #0F2854;
    cursor: pointer;
}

.signUp a {
    text-decoration: none;
    color: #1C4D8D;
    transition: 0.1s;
}

.signUp a:hover {
    color: #0F2854;
}